<html>
    <head>
        <title>Blog Website</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui inverted menu fixed">
            <div class="ui container">
                <div class="header item"><a href="/blogs"><i class="code icon"></i>Blog Site</a></div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
          </div>